[user]
  email = jh.software.developer@gmail.com
  name = Jeff Held
[push]
  default = current
[core]
  excludesfile = ~/.gitignore
  editor = vim
[alias]
  git = !exec git
  undo = checkout HEAD --
  undo-commit = reset HEAD~
  reword = commit --amend
[github]
  user = solkaz
[credential]
  helper = store
[hub]
  protocol = https
[pull]
  rebase = true
